<div class="internews">
    <img src="../../assets/logo.png" alt="" class="logo">
    <div class="categorieshead">
        <div class="categories">International</div>
        <div class="categories">INDIA</div>
        <div class="categories">TECH</div>
        <div class="categories">ENTERTAINMENT</div>
        <div class="categories">BUSINESS</div>
        <div class="categories">HEALTH</div>
        <div class="categories">SCIENCE</div>
        <div class="categories">SPORTS</div>
    </div>

</div>
<router-outlet>
</router-outlet>