@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
.news {
    height: 410px;
    border: 1px solid silver;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: inset;
    margin-left: 100px;
    flex-grow: 1;
    width: 18%;
    padding: 10px;
    cursor: pointer;
}

.source {
    color: red;
}

.by {
    padding-top: 0px;
    color: blue;
}

.newscontent {
    display: flex;
    flex-wrap: wrap;
    margin-right: 100px;
    justify-content: center;
}

.newsimg {
    width: 100%;
    height: 200px;
}

p {
    font-family: 'Staatliches', cursive;
    font-size: 20px;
}